<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative %d %-5level [ %t ] [%mdc{X-B3-TraceId},%mdc{X-B3-SpanId}] %-55logger{13} | %m %n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <root level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </root>
    <springProfile name="default">
<!--        <logger name="org.springframework" level="WARN" additivity="false">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--        </logger>-->
<!--        <logger name="com" level="WARN" additivity="false">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--        </logger>-->
<!--        <logger name="ru.shelk" level="DEBUG" additivity="false">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--        </logger>-->
    </springProfile>
</configuration>